<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	
	<h1>All Contacts</h1>

	<ol>
	<% $rolodex.contacts.each do |contact| %>
			<li>First Name: <%= contact.first_name %> Last Name: <%= contact.last_name %> Email: <%= contact.email %> Note: <%= contact.note %></li>
	<% end %>
	</ol>


	<a href="/">Back to Main Menu</a>
</body>
</html>
