<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	
	<h1>All Contacts</h1>

	<ol>
	<% $rolodex.contacts.each do |contact| %>
			<li><strong>First Name:</strong> <%= contact.first_name %> <strong>	Last Name: </strong> <%= contact.last_name %> <strong> Email: </strong> <%= contact.email %> <strong>Note: </strong> <%= contact.note %></li>
	<% end %>
	</ol>


	<a href="/">Back to Main Menu</a>
</body>
</html>
