<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1> Welcome to <%=@crm_name %></h1>
	<p>Main menu</p>
	<ul>
		<li>
			<a href="/contacts">View all contacts</a>
		</li>
	</ul>
</body>
</html>