<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> <%= @@crm_app_name%> </title>
	   <link rel="stylesheet" type="text/css" href="/normalize.css">
	  <link rel="stylesheet" type="text/css" href="/style.css">
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	 <link href='http://fonts.googleapis.com/css?family=NTR' rel='stylesheet' type='text/css'>
	 </head>
<body>
	<header>
		
		<h1> WELCOME TO <%= @@crm_app_name %>!</h1>

		<a href="/">HOME</a>
		<a href="/contacts">VIEW ALL CONTACTS</a>
		<a href="/contacts/new">ADD CONTACT</a>
		<a href="/contacts/search">SEARCH CONTACTS</a>


	</header>
	<nav></nav>

	<%= yield %>

	<div></div>

	<footer></footer>
</body>
</html>