<h1>Add Contact</h1>

<form action="/contacts" method="post">
	<label> First Name: <input type="text" name="first_name"></label>
	  	
  	<label> Last Name: 	<input type="text" name="last_name"></label> 

	<label> Email: <input type="text" name="email"></label>
	
	
	<label id="notelabel"> Note:
	<textarea name="note" cols="36" rows="10" class="note" id="notetextarea"> </textarea>
	</label>
	
	  	
	<input class="submit_button" type="submit" name="Submit">
</form>

