
<h1>Search Contacts</h1>

<form action="/contacts/search" method="get">
	<label> Contact ID: <input type="text" name="id"></label>
	
	<label> First Name: <input type="text" name="first_name"></label>
	  	
  	<label> Last Name: 	<input type="text" name="last_name"></label> 

	<label> Email: <input type="text" name="email"></label>
	
	  	
	<input class="submit_button" type="submit" name="Submit">
</form>

