

body {
	font-family: "NTR", sans-serif;
	text-align: center;
	height: 100%;
	position: relative;
}

a {
	padding: 10px 15px;
	width: 100px;
}

label {
	display: block;
	margin-left: auto;
	margin-right: 500px;
	text-align: right;
	font-size: 20px;
}

img {
	margin-top: 100px;
}

input {
	margin-left: 50px;
	margin-top: 30px;
	margin-bottom: auto;
	width: 300px;
	border-radius: 5px;
}

.note {
	height: 100px;
}

.submit_button {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	margin-bottom: 200px;
}

.contacts{
	border-radius: 5px;
	border: solid black;
	float: left;
	width: 24%;
	margin: 40px;
}

i {
	color: gray;
	margin-top: 20px;
}

a {
	font-size: 20px;
}

a:visited {
    color: black;
}

section,
p {
	font-size: 20px;
	color: black;
}



